.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #111129;
}

.footerBreak {
    width: 100%;
    height: 5px;
    background-color: #BCB5FC;
}

.footerContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 60%;
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footerElement {
    margin: 10px;
    background: none;
    -webkit-text-fill-color: #3661FC;
}

.footerElement:last-child {
    flex-basis: 100%;
    font-style: italic;
    display: flex;
    justify-content: center;
}