.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.background {
    position: fixed;
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    z-index: -1;
    background: white;
}

.content {
    flex: 1;
}