.post {
  margin-bottom: 20px;
  border-radius: 2%;
  color: black;

  box-shadow: 1px 3px 5px #BCB5FC;
  padding: 6%;

  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.post:hover {
  transform: scale(1.01);
}

.title {
  font-size: x-large;
}

.date {
  font-size: small;
  color: lightgray;
}

.alignImg {
  width: 100%;
  text-align: center;
}

.img {
  max-width: 600px;
  margin-bottom: 20px;
}

.footer {
  margin-top: 20px;
}