.post {
  margin-bottom: 20px;
  background-color: var(--custom_black);
  border-radius: 2%;
  color: white;

  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.post:hover {
  transform: scale(1.01);
}

.title {
  font-size: x-large;
}

.date {
  font-size: small;
  color: lightgray;
}

.alignImg {
  width: 100%;
  text-align: center;
}

.img {
  max-width: 600px;
  margin-bottom: 20px;
}

.footer {
  margin-top: -20px;
}