
.article {
  /*background-color: rgba(11, 12, 16);*/
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  color: rgba(11, 12, 16);
}

.title {
  width: 100%;
  font-size: xxx-large;
  text-align: left;
}

.date {
  font-size: small;
  color: midnightblue;
}

.divImg {
  width: 100%;
  text-align: center;
}

.img {
  margin-top: 15px;
}

.keyword {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.categories {
  margin-top: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.author {
  text-align: right;
  margin-top: 16px;
  width: 100%;
  color: white;
  font-style: italic;
}

.content {
  font-size: x-large;
  margin-top: 30px;
}

.teaser {
  font-size: x-large;
  border-color: #45a29e;
  box-shadow: 2px 5px 9px #888888;
  padding: 3%;
  border-radius: 20px;
}

.filterView {
  border-radius: 2%;
  color: black;
  box-shadow: 2px 5px 9px #888888;
}

.filterViewContainer {
  width: 90%;
  padding: 20px;
}

.filterViewResetButton {
  width: 100%;
  cursor: pointer;
}

.phoneView {
  width: 90%;
}

.container {
  max-width: 1500px;
  margin-top: 25px;
}


/* PHONES */
@media screen and (max-width: 1024px) {
  .article {
    text-align: left;
  }

  .author {
    margin-right: 4%;
  }
  .keyword {
    font-size: large
  }

  .title {
    font-size: xx-large;
  }

  .teaser {
    font-size: medium;
  }

  .content {
    margin-top: 16px;
    font-size: medium;
    margin-bottom: 20px;
  }

  .img {
    max-width: 100%;
  }
}

/* laptops usually */
@media screen and (min-width: 1025px) and (max-width: 1800px) {
  .content {
    font-size: large;
  }

  .title {
    font-size: xx-large;
  }

  .keyword {
    font-size: x-large
  }

  .article {
    max-width: 1025px;
    min-width: 700px;
  }
}

/* high res screen, usually external screen */
@media screen and (min-width: 1500px) {
  .container {
    max-width: 2000px;
  }
}

@media screen and (min-width: 1800px) {

  .container {
    max-width: 2000px;
  }

  .article {
    max-width: 1500px;
    min-width: 1000px;
  }
}


