.filterView {
    color: white;
}

.filterViewContainer {
    width: 90%;
    padding: 20px;
}

.filterViewResetButton {
    width: 100%;
    cursor: pointer;
}

.phoneView {
    width: 90%;
}

.container {
    max-width: 1500px;
    margin-top: 25px;
}

@media screen and (min-width: 1500px) {
    .container {
        max-width: 2000px;
    }
}