.background {
    position: fixed;
    margin-top: 0%;
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/images/animated_background.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}