.externalNavigation {
    cursor: pointer;
    width: 64px;
    height: 64px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}


.externalNavigation:hover {
    transform: scale(1.1);
}