.navigationItem {
    margin-right: 15px;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.navigationItem a { /* when it isn't active */
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 16px 20px; /* 16 px top and bottom, 10 px left and right*/
    border-bottom: 4px solid transparent;
    font-size: larger;

    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.navigationItem a:hover {
    border-radius: 25px;
    background: linear-gradient(45deg, #BCB5FC, #9C34FC, #3661FC, #79C4FC) no-repeat center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.1);

}
.navigationItem a.active{
    border-radius: 25px;
    background: linear-gradient(45deg, #BCB5FC, #9C34FC, #3661FC, #79C4FC) no-repeat center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*color: white;*/
    /*color: linear-gradient(to right, #BCB5FC, #9C34FC, #3661FC, #79C4FC) no-repeat center;*/
    /*background-color: #45a29e;*/
    /*border-radius: 25px;*/
}
