// Override default variables before the import
$theme-colors: (
        "custom_black": #0b0c10,
        "custom_dark": #1f2833,
        "custom_gray": #c5c6c7,
        "custom_cyan": #66fcf1,
        "custom_dark_cyan": #45a29e,
        "custom_dark_blue": #26367c,
        "custom_bright_purple": #c42bfc,
        "custom_purple": #a132fc

);


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: large;
}

a, a:hover {

  color: var(--custom_cyan);
  text-decoration: none;
}

.under-construction {
  color: white;
  font-size: xxx-large;
  padding: 100px;
  text-align: center;
}