// Override default variables before the import
$theme-colors: (
        "custom_black": #0b0c10,
        "custom_dark": #1f2833,
        "custom_gray": #c5c6c7,
        "custom_cyan": #66fcf1,
        "custom_dark_cyan": #45a29e,
        "custom_dark_blue": #26367c,
        "custom_bright_purple": #c42bfc,
        "custom_purple": #a132fc,

        // colorful and balanced
        "two": #e27d60,
        "one": #85dcb0,
        "three": #e8a87c,
        "four": #c38d9e,
        "five": #41b3a3,

        // elegant yet approachable
        "one_1": #edc7b7,
        "two_2": #eee2dc,
        "three_3": #bab2b5,
        "four_4": #123C69,
        "five_5": #ac3b61
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: large;
}

a, a:hover {
  color: navajowhite;
  text-decoration: none;
}

.under-construction {
  color: white;
  font-size: xxx-large;
  padding: 100px;
  text-align: center;
}

.input {
  font: inherit;
  margin: 10px auto;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: var(--custom_black);
  color: white;
  text-align: left;
  padding-left: 15px;
  &:focus {
    outline: none;
  }
}

.pointer {
  cursor: pointer;
}