// Override default variables before the import
$theme-colors: (
        "1": #BCB5FC,
        "2": #9C34FC,
        "3": #3661FC,
        "4": #79C4FC,
        "backgroundColor": #111129
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@150&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: medium;
}

a, a:hover {
  background: linear-gradient(45deg, #BCB5FC, #9C34FC, #3661FC, #79C4FC) no-repeat center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.under-construction {
  color: white;
  font-size: xxx-large;
  padding: 100px;
  text-align: center;
}

.input {
  font: inherit;
  margin: 10px auto;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: var(--custom_black);
  color: white;
  text-align: left;
  padding-left: 15px;
  &:focus {
    outline: none;
  }
}

.pointer {
  cursor: pointer;
}