// Override default variables before the import
$theme-colors: (
        "one": #BCB5FC,
        "two": #9C34FC,
        "three": #3661FC,
        "four": #79C4FC,
        "backgroundColor": #111129
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@150&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: medium;
}

a, a:hover {
  background: linear-gradient(45deg, #BCB5FC, #9C34FC, #3661FC, #79C4FC) no-repeat center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.under-construction {
  color: black;
  font-size: xxx-large;
  padding: 100px;
  text-align: center;
}

.input {
  font-size: medium;
  font-weight: 100;
  margin: 10px auto;
  width: 100%;
  border: 1px solid #9C34FC;
  border-radius: 5px;
  color: #9C34FC;
  text-align: left;
  padding-left: 15px;
  &:focus {
    outline: none;
  };
  &::placeholder {
    color: #9C34FC;
  }
}

.half-width {
  width: 50%;
}

.center {
  display: flex;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}