// Override default variables before the import
$theme-colors: (
        "custom_black": #0b0c10,
        "dark": #121124,
        "custom_gray": #c5c6c7,
        "1": #BCB5FC,
        "2": #9C34FC,
        "3": #3661FC,
        "4": #79C4FC
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: large;
}

a, a:hover {
  color: navajowhite;
  text-decoration: none;
}

.under-construction {
  color: white;
  font-size: xxx-large;
  padding: 100px;
  text-align: center;
}

.input {
  font: inherit;
  margin: 10px auto;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: var(--custom_black);
  color: white;
  text-align: left;
  padding-left: 15px;
  &:focus {
    outline: none;
  }
}

.pointer {
  cursor: pointer;
}